body {
	font-size: 16px;
}

#header-nav {
	background-color:#61122f;
}


#logo-img {
	background: url(logo.jpg) no-repeat;
	width: 100px;
	height: 100px;
	
}

.navbar-brand {
	padding-top: 25px;
}
.navbar-brand p {text-align: center; color: white;

}
.navbar-brand {
	font-family: Playfair Display SC;
	font-size: 1.2em;
	text-transform: uppercase;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
h1 {
	color: white;
}

 
 